.general-info-wrapper {
  width: 100%;
  display: flex;
  border-radius: 15px;
  margin-left: 20px;
}

.input-wrapper {
  width: 100%;
  background-color: white;
  padding: 15px;
}
.input-wrapper h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.input-wrapper form {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 0.3rem;
}

.input-wrapper input,
.input-wrapper textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 1rem;
  color: #34495e;
  outline: none;
  transition: border-color 0.2s;
}

.about-me-wrapper {
  width: 100%;
}

.general-info-form {
  border: none;
}

/* MEDIA QUERIES */

/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  /* Add your styles for small mobile devices here */
  .general-info-wrapper {
    width: 100vw;
  }

  .input-wrapper input,
  .input-wrapper textarea {
    width: 90%;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  /* Add your styles for mobile devices here */
  .general-info-wrapper {
    width: 100vw;
  }

  .input-wrapper input,
  .input-wrapper textarea {
    width: 90%;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Add your styles for large mobile or small tablet devices here */
  .input-wrapper input,
  .input-wrapper textarea {
    width: 90%;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Add your styles for tablet devices here */
  .input-wrapper input,
  .input-wrapper textarea {
    width: 80%;
  }
}

/* Laptops (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  /* Add your styles for laptop devices here */
  .input-wrapper input,
  .input-wrapper textarea {
    width: 60%;
  }
}
