.header-wrapper {
  border-bottom: solid 1px black;
  text-align: center;
  font-size: 1.6rem;
  background-color: white;
}



/* MEDIA QUERIES */

/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  /* Add your styles for small mobile devices here */
  .header-wrapper {
    width: 100%;
    font-size: 1.2rem;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  /* Add your styles for mobile devices here */
  .header-wrapper {
    width: 100%;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Add your styles for large mobile or small tablet devices here */
   .header-wrapper {
    font-size: 1.3rem;
   }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Add your styles for tablet devices here */
  .header-wrapper {
    font-size: 1.4rem;
  }
}
