.resume-wrapper {
  border: solid white;
  width: 75%;
  margin: 25px auto 0 auto;
  /* padding-top: 5px; */
  background-color: white;
  padding: 15px;
}

.resume-header {
  border-bottom: solid 1px rgb(0, 0, 0);
  text-align: center;
}

.resume-header h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.resume-header h2,
.resume-header p {
  letter-spacing: 5px;
  text-transform: uppercase;
}
.content-wrapper {
  display: flex;
  margin-top: 8px;
}

.contact-wrapper {
  margin-bottom: 25px;
}

.info-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.left-side {
  width: 35%;
  background-color: rgb(245, 240, 240);
  padding: 8px;
}

.right-side {
  /* border: solid red; */
  width: 65%;
}

.work-dates {
  font-weight: normal;
}

.about-me-resume-wrapper {
  margin-bottom: 20px;
  border-bottom: solid 1px black;
  padding: 15px;
}

.about-me-text {
  font-size: 0.9rem;
}

.about-header {
  margin-bottom: 12px;
}

.experience-header {
  margin-bottom: 12px;
}

.work-info-resume-wrapper {
  padding: 15px;
}

.responsibilities-resume-wrapper {
  white-space: pre-line;
}

.companyName-resume-wrapper {
  margin-top: 5px;
  font-style: italic;
}

.education-resume-info {
  margin-bottom: 15px;
}

.education-resume-wrapper {
  font-size: 1rem;
}

.school-name-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.work-el-wrapper {
  margin-bottom: 25px;
}

/* MEDIA QUERIES */

/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  /* Add your styles for small mobile devices here */
  .resume-wrapper {
    width: 100vw;
    padding: 15px;
    box-sizing: border-box;

    position: absolute;
    top: 104px;
    left: 0;
  }

  .contact-wrapper p {
    font-size: 0.44rem;
  }

  .contact-wrapper h2 {
    font-size: 1rem;
  }
  .education-resume-info p {
    font-size: 0.44rem;
  }

  .education-resume-wrapper h2 {
    font-size: 1rem;
  }

  .about-me-text {
    font-size: 0.7rem;
  }

  .work-el-wrapper p {
    font-size: 0.7rem;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .resume-wrapper {
    width: 100vw;
    padding: 15px;
    box-sizing: border-box;

    position: absolute;
    top: 104px;
    left: 0;
  }

  .contact-wrapper p {
    font-size: 0.5rem;
  }

  .contact-wrapper h2 {
    font-size: 1.2rem;
  }

  .education-resume-info p {
    font-size: 0.6rem;
  }

  .education-resume-wrapper h2 {
    font-size: 1.2rem;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Add your styles for large mobile or small tablet devices here */
  .resume-wrapper {
    width: 100vw;
    padding: 15px;
    box-sizing: border-box;

    position: absolute;
    top: 104px;
    left: 0;
  }

  .contact-wrapper p {
    font-size: 0.7rem;
  }

  .contact-wrapper h2 {
    font-size: 1.4rem;
  }

  .education-resume-info p {
    font-size: 0.7rem;
  }

  .education-resume-wrapper h2 {
    font-size: 1.4rem;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Add your styles for tablet devices here */
  .resume-wrapper {
    width: 100vw;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 104px;
    left: 0;
  }
}

/* Laptops (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  /* Add your styles for laptop devices here */
  .resume-wrapper {
    width: 100vw;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 104px;
    left: 0;
  }
}

/* Desktops (1367px and above) */
@media (min-width: 1367px) {
  /* Add your styles for desktop devices here */
  .resume-wrapper {
    display: block !important;
  }
}
