.resume-wrapper {
  border: solid white;
  width: 75%;
  margin: 0 auto 0 auto;
  padding-top: 5px;
  background-color: white;
}

.resume-header {
  border-bottom: solid 1px rgb(0, 0, 0);
  text-align: center;
}

.resume-header h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.resume-header h2,
.resume-header p {
  letter-spacing: 5px;
  text-transform: uppercase;
}
.content-wrapper {
  display: flex;
  margin-top: 8px;
}

.contact-wrapper {
  margin-bottom: 25px;
}

.info-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.left-side {
  width: 35%;
  background-color: rgb(245, 240, 240);
}

.right-side {
  /* border: solid red; */
  width: 65%;
}

.work-dates {
  font-weight: normal;
}

.about-me-resume-wrapper {
  margin-bottom: 20px;
  border-bottom: solid 1px black;
  padding: 15px;
}

.about-me-text {
  font-size: 0.9rem;
}

.about-header {
  margin-bottom: 12px;
}

.experience-header {
  margin-bottom: 12px;
}

.work-info-resume-wrapper {
  padding: 15px;
}

.responsibilities-resume-wrapper {
  white-space: pre-line;
}

.companyName-resume-wrapper {
  margin-top: 5px;
  font-style: italic;
}

.education-resume-info {
  margin-bottom: 15px;
}

.education-resume-wrapper {
  font-size: 1rem;
}

.school-name-wrapper {
  border: solid green;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.work-el-wrapper {
  margin-bottom: 25px;
}
